---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "$layouts/Layout.astro";
import PostPreview from "$components/PostPreview.astro";
const posts: CollectionEntry<"blog">[] = await getCollection("blog");
---

<Layout title="Nicky's place on the web">
  <div class="col-start-4">
    <h2>Advent of Code solvers:</h2>
    <ul class="list-inside">
      {
        [2020, 2021, 2022, 2023].map((year) => (
          <li class="mt-1 list-disc">
            <a href={`/aoc${year}-solver`}>{year}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="col-start-4">
    <h2 class="font-bold uppercase tracking-wider text-mutedText">
      👀 {posts.length} posts total
    </h2>
    <ul>
      {
        posts
          .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
          .map((post) => <PostPreview {post} />)
      }
    </ul>
  </div>
</Layout>
