---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "$layouts/Layout.astro";
import PostPreview from "$components/PostPreview.astro";

const posts: CollectionEntry<"blog">[] = await getCollection("blog");
---

<Layout title="We have liftoff">
  <h2>Advent of Code solvers:</h2>
  <ul class="m-5">
    {
      [2020, 2021, 2022, 2023].map((year) => (
        <li class="mt-1 list-disc">
          <a href={`/aoc${year}-solver`}>{year}</a>
        </li>
      ))
    }
  </ul>
  <ul class="m-5">
    {
      posts
        .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
        .map((post) => <PostPreview {post} />)
    }
  </ul>
</Layout>
