---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";

const matches = import.meta.glob("../posts/*.mdx", { eager: true });
const posts = Object.values(matches);
---

<Layout title="We have liftoff">
  {
    posts.map((post: any) => (
      <>
        <p>{post.title}</p>
        <post.Content />
      </>
    ))
  }
  <Icon class="h-44 w-44 text-blue-500" name="lucide:github" />
  <Icon class="h-44 w-44 text-blue-500" name="twitter" />
</Layout>
