---
import { ViewTransitions } from "astro:transitions";
import Font from "$components/Font.astro";
import "$styles/tailwind.css";
import Header from "$components/Header.astro";
import Footer from "$components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Nicky Meuleman",
  description = "Personal website. It's a blog, and more!",
} = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="bg-background text-lg text-text accent-mutedPrimary marker:text-mutedPrimary"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <Font />
    <ViewTransitions />
  </head>
  <!-- using the 4rem spacing as columns instead of gap-16 intentionally -->
  <body
    class="grid grid-cols-[minmax(5vw,1fr)_minmax(0,70ch)_minmax(5vw,1fr)] md:grid-cols-[minmax(5vw,1fr)_minmax(0,30ch)_minmax(0,4rem)_70ch_4rem_30ch_minmax(5vw,1fr)]"
  >
    <Header />
    <main class="contents">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script>
  if (document.querySelector(".katex")) {
    await import("katex/dist/katex.min.css");
  }
</script>
