---
import { ViewTransitions } from "astro:transitions";
import Font from "$components/Font.astro";
import "$styles/tailwind.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Nicky Meuleman",
  description = "Personal website. It's a blog, and more!",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-background text-text">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <Font />
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  if (document.querySelector(".katex")) {
    await import("katex/dist/katex.min.css");
  }
</script>
